<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title">AppsLabBlog</span>
<head>
  <meta charset="utf-8">
  <title>AppsLaBlog</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/AppsLabBlog/src/app/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/AppsLabBlog/src/app/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/AppsLabBlog/src/app/images/favicon-16x16.png">
<link rel="manifest" href="/AppsLabBlog/src/app/images/site.webmanifest">  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>  <span class="spacer"></span>

  <button mat-raised-button color="accent" (click)="navigateTo('home')">Home</button>
  <button mat-raised-button color="accent" (click)="navigateTo('contact')">Contact</button>
  <button mat-raised-button color="accent" (click)="navigateTo('register')">Login/Register</button>
  <button mat-raised-button color="accent" (click)="navigateTo('chart')">Charts</button>
  <button mat-raised-button color="accent" (click)="navigateTo('AddPost')">Add Post</button>
  <button mat-raised-button color="accent" (click)="navigateTo('dashboard')">User</button>
</mat-toolbar>

<router-outlet></router-outlet>
