<mat-toolbar color="brown">
  <button mat-button (click)="navigateTo('home')">Home</button>
  <button mat-button (click)="navigateTo('contact')">Contact</button>
  <button mat-button (click)="navigateTo('register')">Login/Register</button>
<button mat-button (click)="navigateTo('dashboard')">Usser</button>


</mat-toolbar>

<div class="content">
  <div class="user-cards">
    <app-user-card *ngFor="let post of userPosts" [userPost]="post"></app-user-card>
  </div>

  <div class="desktop-chat">

  </div>
  <div>
  
</div>
</div>