.dashboard-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 16px;
}

mat-card {
  margin-bottom: 20px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.spacer {
  flex: 1 1 auto;
}
