.action-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .vote-button, .comment-button, .share-button, .post-comment-button {
    background-color: rgba(99, 30, 28, 1);
    color: rgba(245, 198, 66, 1);
    border: none;
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .vote-count {
    color: rgba(245, 198, 66, 1);
    margin: 0 8px;
  }
  
  .comment-input {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(99, 30, 28, 1);
    color: rgba(245, 198, 66, 1);
    border-radius: 4px;
    width: 100%;
  }
  
  .comment-input textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgba(99, 30, 28, 1);
    color: rgba(245, 198, 66, 1);
    border: 1px solid rgba(245, 198, 66, 1);
    border-radius: 4px;
  }
  
  .comment {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(99, 30, 28, 1);
    color: rgba(245, 198, 66, 1);
    border-radius: 4px;
    width: 2%;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  .post-card {
    margin-left: 50px;
    margin-top: 45px;
    width: 125vh;
    max-width: 95%; /* Prevent overflowing on small screens */
    background-color: rgba(99, 30, 28, 1);
    color: rgba(245, 198, 66, 1);
  }
  
  .mat-mdc-card {
    border-width: 1px;
    border-color: rgba(245, 198, 66, 1);
    border-radius: 0px;
  }