<mat-toolbar class="toolbar">
    
    <span style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 700; font-size: 185%;padding-left: 4%; padding-top: 2.3%;">AppsLaBlog</span>
    <span class="example-spacer"></span>


    <div class="icons-toolbar">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>

  </mat-toolbar>
  